<%= link_to 'Back', :back %>
<h1>Handy Person</h1>
<h2>Name: <%= @handy.name %></h2>
<h2>Username: <%= @handy.username %></h2>
<h3>Services Available</h3>
<ul>
  <% @handy.services.each do |work| %>
    <li><%= link_to work.name, work %></li>
  <% end %>
</ul>

<%= form_for @handyservice do |f| %>
  <%= f.hidden_field :handy_id, value: @handy.id %>
  <%= f.collection_select :service_id, @services, :id, :name %><br>
  <%= f.submit %>
<% end %>
