<h1>Service Call</h1>
<ul>
  <li>Customer: <%= @ad.customer.name %></li>
  <li>Work Done: <%= @ad.job.name %></li>
  <li>Handy Person: <%= @ad.handy.name %></li>
  <li>Rating: <%= @ad.rating %></li>
</ul>

<%= form_for user_path(@ad), method: :patch do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: 1..5 %>
  <%= f.submit 'Rating'%>
<% end %>

<%= link_to 'Profile Page', user_path(@user) %>
