<%= link_to 'Back', :back %>
<h1>Profile</h1>
<h2>Name: <%= @user.name %></h2>
<h2>Username: <%= @user.username %></h2>

<h3>Handy Visits</h3>
<ul>
  <% @user.services.each do |service| %>
  <% @user.handies.each do |handy| %>
    <li><%= link_to service.name, service %></li>
      <ul>
        <li><%= link_to handy.name, handy %></li>
      </ul>
    <% end %>
  <% end %>
</ul>

<select>
  <% @services.each do |service| %>
    <option value="<%= service.id %>"> <%= service.name%> </option>
    <% end %>
</select>

<ol>
  <% @services.each do |service| %>
      <select >
        <% service.handies.each do |handy| %>
        <option value="<%= handy.id %>"> <%= handy.name %> </option>
        <% end %>
      </select>
  <% end %>
</ol><br>
<br>
<br>
<br>
<br>

<%= form_for @ad do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.collection_select :service_id, @services, :id, :name %>

  <%# f.collection_select :handy_id, @handies, :id, :name %>

  <%= f.submit 'Create'%>

<% end %>




 <%# form_for @service do |f| %>
   <%# f.collection_select :service_id, @services, :id, :name %><br>
   <%# f.submit %>
 <%# end %>
